.vscode/**
.vscode-test/**
src/**
build/**
.gradle/**
node_modules/**/.vscode/**
**/*.map
**/*.ts
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.gitignore
**/.eslintignore
**/.npmignore
**/*.md
.npmrc
